.header_container{
  
  position: relative;
  
  .header_menu{
    position: absolute;
    left: 0;
    top: 100px;

    letter-spacing: 1px;
    font-family:  'Bai Jamjuree', sans-serif;
    color: #d51616;
    font-weight: 600;
    text-transform: uppercase;

    li{
        margin: 10px 0
    }

    h1{
        font-size:600px;
        text-transform: uppercase;
        text-align: center;
        color: red;
    
        font-family: 'Playfair Display', serif;;
        font-weight: 600;
      }
    }

    h1{
        font-size: 60px;
        color: rgb(250, 250, 248);
    }
  

}